* {
    padding: 0;
    margin: 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto auto 30px auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
    padding: 10px 0;
}

.card h1 {
    text-transform: capitalize;
    padding: 10px 0;
}
